body {
  background:  #eeeeff;
  color:       #222222;
  font-family: Sans-Serif;
  font-size:   12pt;
  height:      100%;
  margin:      0 auto;
  width:       700px;
}

a {
  font-weight:     bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  color: #505070;
}

a:link {
  color: #215373;
}

a:visited {
  color: #215373;
}

div#adsense {
  height: 65px;
  margin: 0 auto;
  width:  468px;
}

div#content, div#footer, div#menu {
  float: left;
  width: 600px;
}

div#content {
  background:  #bdcbd5;
  border-left: 5px solid #215373;
  color:       #000040;
  margin:      0px auto;
  padding:     20px;
}

div#donate {
  position:   absolute;
  right:      50px;
  text-align: center;
  top:        10px;
  width:      250px;
}

div#footer {
  background:  #215373;
  border-left: 5px solid #215373;
  color:       #ffffff;
  margin:      0 auto;
  padding:     0 20px;
  text-align:  center;
}

div#logo {
  float:        left;
  height:       64px;
  margin-right: 10px;
  width:        64px;
}

div#menu {
  background:    #bdcbd5;
  border-bottom: 2px dotted #215373;
  border-left:   5px solid #215373;
  color:         #000040;
  font-weight:   bold;
  line-height:   30px;
  margin:        0 auto;
  padding:       10px 20px;
}

div#menu a {
  background:  #215373;
  color:       #dddddd;
  text-shadow: 1px 1px #000000;
}

div#menu a:hover {
  background: #505050;
  color:      #bdcbd5;
}

div#menu .menu-active {
  background: #99c9ff;
  color:      #215373;
  cursor:     default;
  text-shadow: 1px 1px #000000;
}

div#menu a, div#menu .menu-active {
  border-radius: 5px;
  padding:    5px;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

div#twitter {
  position: absolute;
  right:    50px;
  top:      280px;
}

div.code-description {
  background:   #215373;
  color:        #eeeeff;
  font-size:    10pt;
  padding-left: 3px;
  width:        599px;
}

div.code-sample {
  margin: 10px 0;
}

div.code-sample a {
  background: #215373;
  color:      #999999;
  cursor:     pointer;
  font-size:  8pt;
  margin:     0;
  padding:    3px;
}

div.code-sample a:hover {
  background: #505050;
  color:      #bdcbd5;
}

div.code-sample a.language-selected {
  background:   #99c9ff;
  border-left:  1px solid #215373;
  border-right: 1px solid #215373;
  border-top:   1px solid #215373;
  color:        #215373;
}

div.command h3 ,div.download h3 {
  border-bottom: 1px solid #215373;
}

div.command pre {
  background:  #eeeeff;
  color:       #215373;
  font-weight: bold;
  padding:     5px;
}

div.download a {
  font-weight: bold;
}

div.download pre {
  color:   #808080;
  display: block;
  margin:  5px;
}

div.highlight {
  background: #eeeeff;
  border:     1px solid #215373;
  font-size:  10pt;
  overflow:   auto;
  padding:    5px;
  width:      590px;
}

div.highlight pre {
  margin: 0;
}

div.text {
  text-align: justify;
}

h1 {
  color:       #215373;
  margin-top:  0;
  text-shadow: 2px 2px #000000;
}

h2 {
  border-bottom: 2px solid #215373;
  color:         #505070;
  text-shadow:   1px 1px #000000;
}

ul {
  list-style-type: square;
}

li li {
  list-style-type: disc;
  margin-left:     -20px;
}
