---
pages:
 - name: About
   url:  index.html
 - name: News
   url:  news.html
 - name: Usage
   url:  usage.html
 - name: Downloads
   url:  downloads.html
 - name: Contribute
   url:  contribute.html
 - name: License
   url:  license.html
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/syntax.css" type="text/css" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sebastian Staudt" />

    <title>Steam Condenser - {{ page.title }}</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
            type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
            type="text/javascript"></script>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>

    {% include google_analytics %}
  </head>
  <body>
    <div id="menu">
    {% for item in page.pages %}
      {% if item.name == page.title %}
        <span class="menu-active">{{item.name}}</span>
      {% else %}
        <a href="{{item.url}}">{{item.name}}</a>
      {% endif %}
    {% endfor %}
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
      <strong>{{ site.time | date: "%Y" }}</strong> &mdash; Sebastian Staudt
    </div>
    {% include donate %}
    <div id="twitter">
      <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 6000,
          width: 250,
          height: 300,
          theme: {
            shell: {
              background: '#215473',
              color: '#ffffff',
            },
            tweets: {
              background: '#bdcbd5',
              color: '#222222',
              links: '#215473'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('steamcondenser').start();
      </script>
    </div>
  </body>
</html>

<!-- This page has been last updated on {{ site.time | date: "%m/%d/%Y" }} -->
