---
pages:
 - name: About
   url:
 - name: Usage
   url:  usage
 - name: Installation
   url:  install
 - name: Contribute
   url:  contribute
 - name: License
   url:  license
---
<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/syntax.css" type="text/css" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sebastian Staudt" />

    <title>Steam Condenser - {{ page.title }}</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
            type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
            type="text/javascript"></script>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>

    {% include google_analytics %}

    <link href="https://plus.google.com/109400543549250623875" rel="publisher" />
  </head>
  <body>
    <a href="https://github.com/koraktor/steam-condenser">
      <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub">
    </a>
    <div id="menu">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for item in sorted_pages %}
      {% if item.layout == 'default' %}
        {% if item.title == page.title %}
          <span class="menu-active">{{item.title}}</span>
        {% else %}
          <a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
      <strong>{{ site.time | date: "%Y" }}</strong> &mdash; Sebastian Staudt
    </div>
    {% include donate %}
    <div id="twitter">
      <a class="twitter-timeline" href="https://twitter.com/steamcondenser" data-widget-id="572055292880625664">Tweets by @steamcondenser </a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="sponsor">
      Built with IDEs by<br>
      <a href="https://www.jetbrains.com/devnet/sponsorship/open-source/">
        <img src="{{site.baseurl}}/images/logo_jetbrains.png">
      </a>
    </div>
  </body>
</html>

<!-- This page has been last updated on {{ site.time | date: "%m/%d/%Y" }} -->
