---
now:   Time.now
pages:
 - name: About
   url:  index.html
 - name: Downloads
   url:  http://github.com/koraktor/steam-condenser/downloads
 - name: License
   url:  license.html
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sebastian Staudt" />
    
    <title>Steam Condenser - {{ page.title }}</title>

    {% include google_analytics %}
  </head>
  <body>
    <div id="menu">
    {% for item in page.pages %}
      {% if item.name == page.title %}
        <span class="menu-active">{{item.name}}</span>
      {% else %}
        <a href="{{item.url}}">{{item.name}}</a>
      {% endif %}
    {% endfor %}
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
      2009 &mdash; Sebastian Staudt
    </div>
    <div id="pledgie">
      {% include pledgie %}
    </div>
  </body>
</html>

<!-- This page has been last updated on {{ page.now | date: "%m/%d/%Y" }} -->
